.site-navigation {
  display: flex;
  gap: 1rem;
  padding: 1rem  1rem 0 9rem;
}

.route-link {
  color: var(--accent);
}

.route-link[aria-current='page'] {
  color: var(--text-h);
  font-weight: 600;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
section {
  text-align: left;
  padding: 3rem 9rem;
  width: 100%;
}

label {
  font-style: italic;
}